
.navbar
{
  background: var(--udarkp);
  z-index: 99;
  
}
.navbar-brand,.nav-link{
  color: #b1b1b1 !important;
}
.nav-link:hover{
  color: #88818d !important;
}
.active{
  color: #ffffff !important;
}
.navbar-toggler{
background-color: var(--medp) !important;
}